<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%=pageTitle%></title>
    <meta
      name="description"
      content="Error page example with random background animation from GIPHY"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="icon" href="../images/favicon.png" type="image/png" /> -->
    <link rel="stylesheet" href="/css/style1.css" />
  </head>

  <body
    style="background-image:url('https://media.giphy.com/media/3oKIPs1EVbbNZYq7EA/giphy.gif')"
  >
    <div class="overlay">
      <div class="bottom">
        <h1>¯\_(ツ)_/¯</h1>
        <p>Go to <a href="https://github.com/murshidpc">repo page</a></p>
        <p>
          GIF source:
          <a href="https://media.giphy.com/media/3oKIPs1EVbbNZYq7EA/giphy.gif"
            >GIPHY</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
